<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>HOA :: Humans Section</title>
	<meta name="description" content="BlocksIt.js jQuery plugin Demonstration #2 Pinterest dynamic grid with CSS3 Transitions by inWebson.com"/>
	<meta name="keywords" content="demonstration,demo,jquery,blocksit.js,css3,dynamic,grid,layout,inwebson"/>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<!-- from this is Blocksit library -->
	<!-- start with flat_UI -->
	<script src="../static/js/jquery-ui.js"></script>
	
	
	<!-- start with bootstrap -->
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link href="../static/css/flat-ui.css" rel="stylesheet">
	<link rel='stylesheet' href='../static/css/index_bsj.css' media='screen' />
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="../static/js/blocksit.min.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/style.js"></script>

<!-- for fontawesome -->
<link rel="stylesheet" href="../static/css/font-awesome.min.css">
<!-- responsive weㅑb -->
<script>
$(document).ready(function() {
	//vendor script
	$('#header')
	.css({ 'top':-50 })
	.delay(1000)
	.animate({'top': 0}, 800);
	
	$('#footer')
	.css({ 'bottom':-15 })
	.delay(1000)
	.animate({'bottom': 0}, 800);
	
	//blocksit define
	$(window).load( function() {
		$('#container').BlocksIt({
			numOfCol: 3,
			offsetX: 1,
			offsetY: 8
		});
	});
	
	//window resize
	var currentWidth = 1100;
	$(window).resize(function() {
		var winWidth = $(window).width();
		var conWidth;
		if(winWidth< 650){
			conWidth = 300;
			col=1
		}
		else if(winWidth < 1000) {
			conWidth = 600;
			col = 2
		} else if(winWidth > 1000) {
			conWidth = 1000;
			col = 3
		}
		
		if(conWidth != currentWidth) {
			currentWidth = conWidth;
			$('#container').width(conWidth);
			$('#container').BlocksIt({
				numOfCol: col,
				offsetX: 1,
				offsetY: 8
			});
		}
	});
});


</script>
<!-- responsive app end -->

</head>

<body>
	<nav class="navbar navbar-default" role="navigation" id = "Humans_nav_bar_1">
		<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
			      <span class="sr-only">Toggle navigation</span>
			    </button>
			<a class="navbar-brand" href="#">
				<img src="../static/images/middle-logo.png" class = "HumansHeaderLogo">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse-01">
			<ul class="nav navbar-nav">           
				<li class="active"><a href="#fakelink">ABOUT US</a></li>
				<li><a href="#fakelink">HUMANS</a></li>
				<li><a href="#fakelink">AJOU</a></li>
				<li><a href="#fakelink">EPILOGUE</a></li>
			</ul>           
		</div><!-- /.navbar-collapse -->
	</nav><!-- /navbar -->
	<nav class="navbar navbar-default" role="navigation" id = "Humans_nav_bar_2">
		<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
			      <span class="sr-only">Toggle navigation</span>
			    </button>
			<a class="navbar-brand" href="#">
				<img src="../static/images/middle-logo.png" class = "HumansHeaderLogo">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse-01">
			<ul class="nav navbar-nav">           
				<li class="active"><a href="#fakelink">ABOUT US</a></li>
				<li><a href="#fakelink">HUMANS</a></li>
				<li><a href="#fakelink">AJOU</a></li>
				<li><a href="#fakelink">EPILOGUE</a></li>
			</ul>           
		</div><!-- /.navbar-collapse -->
	</nav><!-- /navbar -->
	<!-- END NAV-BAR -->
	<div class ="Humans_content_post">
		<div class = "Humans_container">
			<header>
				
				<div class = "Humans_header_background">
					<div class= "Humans_background_inner">
						<div class = "Humans_background_logo">		
							<h3>HUMANS OF AJOU </h3>
							<div class="Humans_Long_block"></div>
							<p style ="text-align:right">STORYS OF AJOU PEOPLE</p>

						</div>

					</div>

				</div>
			</header>
			<div class = "Humans_transparent"></div>
			<section id="wrapper">
				
				<div class ="top-wrapper">
					<!-- THIS IS CATEGORY -->
					<div class = "Humans_title_location">
						<h2 style ="text-align:center" >HUMANS IN AJOU UNIVERSIRY</h2>

					</div>
					<p style = "text-align:center">There were 20 posts published in June 2014.</p>
					<!-- <div class ="Humans_border"></div> -->
					<div class = "contents_category_bsj" >
						<label class="radio">
							<input type="radio" data-toggle="radio" name="optionsRadios" id="optionsRadios1" value="option1" data-radiocheck-toggle="radio" required="" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
							Korean
						</label>
						<label class="radio">
							<input type="radio" data-toggle="radio" name="optionsRadios" id="optionsRadios2" value="option1" data-radiocheck-toggle="radio" checked="" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
							English
						</label>
						<div class="dropdown" id="contents_drop_down_position">
							<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Categorys<span class="caret"></span></button>
							<span class="dropdown-arrow"></span>
							<ul class="dropdown-menu">
								<li><a href="{{ url_for('humans_list') }}">Date Listed</a></li>
								<li><a href="{{ url_for('humans_thumbnail') }}">Thumbnails</a></li>
							</ul>
						</div>

						
					</div>
					<!-- END CATEGORY -->
				</div>
				<div id="container">

					<div class="grid">
						<div class="imgholder">
							<img src="../static/images/img1.jpg" />
						</div>
						<div class="grid_contents">

							<i class="fa fa-clock-o"></i><span class="Humans_counts" style="font-color:gray ">JUNE,2014,원천동</span>
						<!-- 	“When I was 12 years old, a missionary saw me and suggested that I learn how to do flower arrangements. I said, ‘Dudes don’t do things like flower arrangements’. The missionary then said, ‘In life, there’s a difference between choosing not to do something because you don’t know it and being knowledgeable about something and then choosing not to do it.’ My view completely changed after he said this. So I learned how to do flower arrangements as well as some other things, but in the end I ended up choosing to run my own flower shop. 30 years have passed since that moment.”
								<br>
								<br>' -->
								<p>
									<br>“제가 12살 때였는데, 선교사가 저보고 꽃을 배우라고 권하더라구요. 그래서 제가 ‘사내새끼가 무슨 꽃을 배워요.’라고 했어요. 그랬더니 선교사가 ‘살면서 모르고 안 하는 것과 알고 안 하는 것은 다르다’라고 말하더라구요. 그 말에 제가 완전히 넘어갔어요. 그래서 그 후 꽃을 배웠는데, 다른 것도 좀 하다가 결국 꽃집 운영을 선택했어요. 그렇게 30년이 흘렀죠.” 
								</p>
								<i class="fa fa-eye"></i><span class ="Humans_counts">900</span>
								<i class="fa fa-heart"></i><span class ="Humans_counts">300</span>
								<i class="fa fa-share-alt"></i><span class ="Humans_counts">20</span>
							</div>
						</div>
						<div class="grid">
							<div class="imgholder">
								<img src="../static/images/img5.jpg" />
							</div>
							<div class="grid_contents">
								<i class="fa fa-clock-o"></i><span class="Humans_counts" style="font-color:gray ">JUNE,2014,원천동</span>
						 	<p><!--
								“Right now I work in the IT field, but I’ve thought about being an eastern medicine doctor. It looks good because they can help sick people without doing any surgery, so I’ve really seriously considered becoming one.”
								<br>“Then why didn’t you?”
								<br>“Because I can’t give up the things I’m currently doing; there’s just too much.”
								<br><br> --><br>“지금은 IT분야에서 일하지만, 한의사를 해보고 싶다는 생각을 해봤어요. 수술도 안 하면서 아픈 사람들을 도와주니 좋아보이더라구요. 그래서 진짜 진지하게 한의사를 해볼까 고민도 해봤” 
								<br>“근데도 왜 한의사가 되지 않으셨어요?” 
								<br>“제가 지금 가진 많은 것들을 내려놓을 수가 없었거든요.” 
							</p>
							<i class="fa fa-eye"></i><span class ="Humans_counts">900</span>
							<i class="fa fa-heart"></i><span class ="Humans_counts">300</span>
							<i class="fa fa-share-alt"></i><span class ="Humans_counts">20</span>
						</div>
					</div>
					<div class="grid">
						<div class="imgholder">
							<img src="../static/images/img8.jpg" />
						</div>
						<div class="grid_contents">
							<i class="fa fa-clock-o"></i><span class="Humans_counts" style="font-color:gray ">JUNE,2014,원천동</span>
							<p><br>
								<!-- <p>“My least favorite thing is soju. Once I start to drink it, I always seem to drink too much” 
								<br><br> -->“그리고 제가 제일 싫어하는 건 소주예요. 마시기 시작하면 너무 많이 마셔버려서.”
							</p>
							<i class="fa fa-eye"></i><span class ="Humans_counts">900</span>
							<i class="fa fa-heart"></i><span class ="Humans_counts">300</span>
							<i class="fa fa-share-alt"></i><span class ="Humans_counts">20</span>
						</div>
					</div>
					<div class="grid">
						<div class="imgholder">
							<img src="../static/images/img2.jpg" />
						</div>
						<div class="grid_contents">
							<p style = "font-color:gray"><i class="fa fa-clock-o"></i>JUNE,2014,원천동</p>
							<p>Today’s microfashion show 
								<br><br>오늘의 패션쇼
							</p>
							<i class="fa fa-eye"></i><span class ="Humans_counts">900</span>
							<i class="fa fa-heart"></i><span class ="Humans_counts">300</span>
							<i class="fa fa-share-alt"></i><span class ="Humans_counts">20</span>
						</div>
					</div>
					<div class="grid">
						<div class="imgholder">
							<img src="http://www.inwebson.com/demo/blocksit-js/demo2/images/img17.jpg" />
						</div>
						<div class="grid_contents">
							<p style = "font-color:gray"><i class="fa fa-clock-o"></i>JUNE,2014,원천동</p>
							<p>The only shinning light...</p>
						</div>
					</div>
					<div class="grid">
						<div class="imgholder">
							<img src="http://www.inwebson.com/demo/blocksit-js/demo2/images/img22.jpg" />
						</div>
						<div class="grid_contents">
							<p style = "font-color:gray"><i class="fa fa-clock-o"></i>JUNE,2014,원천동</p>
							<p>Rooster's ranch landscape...</p>
						</div>
					</div>
					<div class="grid">
						<div class="imgholder">
							<img src="http://www.inwebson.com/demo/blocksit-js/demo2/images/img16.jpg" />
						</div>
						<div class="grid_contents">
							<p style = "font-color:gray"><i class="fa fa-clock-o"></i>JUNE,2014,원천동</p>
							<p>Sun shinning into forest...</p>
						</div>
					</div>
					<div class="grid">
						<div class="imgholder">
							<img src="http://www.inwebson.com/demo/blocksit-js/demo2/images/img21.jpg" />
						</div>
						<div class="grid_contents">
							<p style = "font-color:gray"><i class="fa fa-clock-o"></i>JUNE,2014,원천동</p>
							<p>It is yellow cloudy...</p>
						</div>
					</div>
					<div class="grid">
						<div class="imgholder">
							<img src="http://www.inwebson.com/demo/blocksit-js/demo2/images/img28.jpg" />
						</div>
						<div class="grid_contents">
							<p style = "font-color:gray"><i class="fa fa-clock-o"></i>JUNE,2014,원천동</p>
							<p>Just a herringfleet mill...</p>
						</div>
					</div>
					<div class="grid">
						<div class="imgholder">
							<img src="http://www.inwebson.com/demo/blocksit-js/demo2/images/img2.jpg" />
						</div>
						<div class="grid_contents">
							<p style = "font-color:gray"><i class="fa fa-clock-o"></i>JUNE,2014,원천동</p>
							<p>Battle Field for you...</p>
						</div>
					</div>

				</div>
			</section>
		</div>
	</div>



	<!-- 	여기서부터 FOOTER -->
	<div class = "Humans_footer">
		<div class = "Humans_footer_container">
			<div class = "Footer_left">
				<div class = "Footer_left">
					<ul>
						<li>HUMANS</li>
						<li>AJOU </li>
						<li>EPILOGUE</li>
						<li>THUMBNAIL</li>
						<li>ABOUT US</li>
					</ul>
				</div>
				<div class ="Footer_right">
					<p>이 사이트는 비 영리를 목적으로 만들어졌습니다.<br>사이트의 운영금은 후원금으로 운영되고 있습니다. <br>
						후원을 하고 싶으시다면 <br>
						477002-04-078058 국민 방성주
					</p>
				</div>
				
			</div>
			<div class ="Footer_right">
				<p>If you want to subscribe our Website</p>
				
				<div class ="Footer_left_half">
					<input type="text" placeholder="Email" class="form-control" id="Humans_float_left"/>
				</div>
				<div class = "Footer_left_half">
					<button class="btn btn-primary" id="Humans_float_left">
						Subscribe
					</button>
				</div>

				<div class = "Icon_gather">
					<div class = "Humans_icon"id="float_left" ></div>
					<div class = "Humans_icon" id="float_left"></div>
					<div class = "Humans_icon" id="float_left"></div>
				</div>

			</div>

		</div>
		<div class = "Humans_copyright">
			<p>Copyright © 2014 HUMANSOFAJOU. All rights reserved.</p>
		</div>

	</div>
	
	<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


</body>